@-moz-document domain("news.ycombinator.com") {
/* Body of HN. */
body,
td, tr {
	background: #09090d !important;
	margin: 0;
	font-size: 1em !important;
	height: 90% !important;
}

* {
	font-family: 'Clear Sans' !important;
}

/* Header. */
center > table > tbody > tr:first-child > td {
	background: #09090d !important;
}
a > img {
	display: none !important;
}
span.pagetop a {
	color: #839496 !important;
	font-size: 18px;
}

/* Post titles. */
td.title a {
	color: #839496 !important;
	font-size: 18px !important;
}
/* Post info. */
td.subtext,
td.subtext a,
td.title > span.sitebit.comhead {
	font-size: 16px !important;
	color: #545466 !important;
	padding-bottom: 5px !important;
}
/* New users */
td.subtext a > font {
	color: #7b8c58 !important;
}
span.comhead {
	font-size: 0.75em !important;
}

/* Comments. */
span.comment,
span.comment > font,
span.comment > p > font {
	color: #839496 !important;
	padding-left: 0 !important;
	font-size: 14px !important;
}

/* Links */
a {
	color: #353540 !important;
}

/* Input fields and buttons */
form > textarea {
	background: #0c0c12 !important;
	font-family: "M+ 1m" !important;
	font-size: 18px !important;
	color: #839496 !important;
	border: 0 !important;
}

form > input {
	font-family: sans-serif !important;
	font-size: 16px !important;
	border: 1px #353540 !important;
	color: #839496
}

/* Text. */
b,
form > table > tbody > tr > td, p, span.c00 {
	color: #839496 !important;
}

/* Ycombinator footing */
span.yclinks {
	display: none !important;
}

/* Upvotes. */
div.votearrow {
	background: url('https://u.teknik.io/kdq6N2.png')
}
}
