@-moz-document domain("boards.4chan.org") {
/* Relative to the general appearance of 4chan. */
body {
    background: #efefef !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #1f1f1f !important;
    margin: auto !important;
    font-size: 13px !important;
}
hr {
    padding-top: 5px !important;
    border: 0 !important;
}

/* Links */
a {
    color: #6f6f6f !important;
}

/* Foreground of the header bar */
#board-list,
#custom-board-list {
    color: #fff !important;
    font-family: 'lemon', sans-serif !important;
}
#header-bar a {
    color: #fff !important;
}

/* Background of the header bar */
#header-bar.dialog {
    background: #232323 !important;
    border: 0 !important;
}

/* Color of the selected board on the header bar. */
#header-bar a.current {
    color: #8292b2 !important;
}

/* Appearance of the menus. */
#menu.dialog,
.entry {
    background: #232323 !important;
    border: 0 !important;
    color: #ccc !important;
    font-family: 'lemon', sans-serif !important;
    font-size: 0.750rem !important;
}

/* Catalog search and page links, This is not ready. */
div.navLinks,
div.pagelist {
    background: transparent !important;
    font-family: 'lemon', sans-serif !important;
    font-size: 0.750rem !important;
    border: 0 !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
}

/* Appearance of the thread updater and thread stats. */
#index-search.field,
#updater.dialog,
#thread-stats.dialog {
    font-family: 'lemon', sans-serif !important;
    font-size: 0.750rem !important;
    background: transparent !important;
    color: #232323 !important;
    border-style: none !important;
}

/* Thread updater menu */
#index-search.field:hover,
#updater.dialog:hover {
    background: #eee !important;
    color: #232323 !important;
}

/* Clean up. */
.bottomCtrl.desktop,
#absbot.absBotText,
.navLinks.desktop,
.navLinks.navLinksBot.desktop {
    display: none !important;
}

/* Hide ads? */
div.center,
div.topad.center,
div.middlead.center,
div.bottomad.center,
div.ad-plea {
    display: none !important;
}

/* Display board banner? */
.boardBanner {
    display: none !important;
}

/* Relative to posts. */
.post.reply {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px !important;
    background: #fbfbfb !important;
    color: #232323 !important;
    width: 100% !important;
    border: 0 !important;
    padding: 6px !important;
    box-shadow: #afafaf 0 0 2px !important;
}

/* Relative to the thread */
.thread {
    margin-top: -10px !important;
    margin-right: 30px !important;
    margin-left: 15px !important;
}
div.postContainer.opContainer {
    display: inline-block !important;
    width: 100% !important;
    margin: auto !important;
}
.inline {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border: 0 !important;
}
.inline .post.reply {
    background-color: #fff !important;
    border: 0 !important;
}

/* Post subjects. */
span.subject {
    color: #596196 !important;
}

/* Tripcodes. */
span.postertrip {
    color: #6673bf !important;
}

/* Post numbers. */
span.postNum a {
    color: #a5a5a5 !important;
}

/* Poster's name. */
span.name {
    color: #3d3d3d !important;
    font-weight: normal !important;
}

/* Date and time of the posts. */
span.dateTime {
    color: #6f6f6f !important;
}

/* Quote links. */
a.quotelink {
    color: #909bda !important;
}

/* Link to posts quoting the current post. */
a.backlink {
    color: #3f3f3f !important;
}

/* Greentext. */
span.quote {
    color: #3ea290 !important;
}

/* Post menu button. */
.post .menu-button {
    float: right;
    position: relative;
    left: 0px;
}

/* Hide "hide reply" buttons. */
.postInfo > input,
a.hide-reply-button > span {
    display: none !important;
}

/* Relative to post info, i.e. Post name, tripcode, post date, etc. */
.postInfo a,
div.postInfo {
    color: #6f6f6f !important;
    font-size: 12px !important;
}

/* Relative to file info, i.e. filename, file size, resolution, etc. */
div.fileText {
    font-family: 'lemon', sans-serif !important;
    font-size: 0.750rem !important;
}

/* Fix post previews. */
#qp {
    border: 0 !important;
    box-shadow: none !important;
}


/* Relative to the quick reply. */
#qr {
    background: #232323 !important;
    color: #eee !important;
    border: none !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    transition: all 0.2s ease 0s;
}
#qr form {
    bottom: 12px !important;
    right: 0% !important;
    width: 300px !important;
    padding: 4px !important;
    margin-top: 23px !important;
    padding-top: 10px !important;
    padding-bottom: 3px !important;
    background: #232323 !important;
    border-color: #232323 !important;
    border-radius: 4px !important;
}
#dump-button {
    background: #3d3d3d !important;
    border-color: #3d3d3d !important;
    color: #eee !important;
}

/* Color of the fields. */
#qr .field {
    background: #fefefe !important;
    border-color: #232323 !important;
    color: #232323 !important;
}

/* Movable QR? */
#qr span.move {
    display: none !important;
}

/* Remove menu */
#qr select {
    display: none !important;
}

/* Make the name field become invisible when there's something in it... */
#qr input.field:nth-child(2) {
    background: #fefefe !important;
    color: #fefefe !important;
}

/* ... And then make it visible again when you hover over it. */
#qr input.field:nth-child(2):hover {
    background: #fefefe !important;
    color: #232323 !important;
}

/* Remove bar above the fields. */
#qr > div {
    position: fixed !important;
}

/* Relative to 4chan X's menu */
#fourchanx-settings.dialog,
fieldset legend,
a.tab-main.tab-selected {
    font-family: sans-serif !important;
    font-size: 11px !important;
    background: #232323 !important;
    color: #dedede !important;
}
}
