@-moz-document domain("boards.4chan.org") {
/* Relative to the general appearance of 4chan. */
body {
	background: #09090d !important;
	font-family: Source, Helvetica, Arial, sans-serif !important;
	color: #839496 !important;
	margin: auto !important;
	font-size: 15px !important;
}
hr {
	padding-top: 5px !important;
	border: 0 !important;
}

/* Links */
a {
	color: #58698c !important;
}
a:hover {
	color: #6f6f6f !important;
}

/* Foreground of the header bar */
#board-list,
#custom-board-list {
	color: #839496 !important;
	font-family: 'Nimbus Sans L', Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
}
#header-bar a {
	color: #839496 !important;
}
/* Color of the selected board on the header bar and hovered link. */
#header-bar a:hover,
#header-bar a.current {
	color: #8292b2 !important;
}

/* Background of the header bar */
#header-bar.dialog {
	background: #09090d !important;
	border: 0 !important;
}

/* Appearance of the menus. */
#menu.dialog,
.entry,
div.dialog.submenu.top.right {
	background: #09090d !important;
	border: 0 !important;
	color: #83949d !important;
	font-family: 'Nimbus Sans L', Helvetica, Arial, sans-serif !important;
	font-size: 0.750rem !important;
}

/* Catalog search and page links, This is not ready. */
div.navLinks,
div.pagelist {
	background: transparent !important;
	font-family: 'Source', Helvetica, Arial, sans-serif !important;
	font-size: 0.750rem !important;
	border: 0 !important;
	display: inline-block !important;
	margin-bottom: 0 !important;
}

/* Appearance of the thread updater and thread stats. */
#index-search.field,
#updater.dialog,
#thread-stats.dialog {
	font-family: 'Source', Helvetica, Arial, sans-serif !important;
	font-size: 0.750rem !important;
	background: transparent !important;
	color: #2f2f2f !important;
	border-style: none !important;
}

/* Thread updater menu */
#index-search.field:hover,
#updater.dialog:hover {
	background: #eee !important;
	color: #2f2f2f !important;
}

/* Clean up. */
.bottomCtrl.desktop,
#absbot.absBotText,
.navLinks.desktop,
.navLinks.navLinksBot.desktop {
	display: none !important;
}

/* Hide ads? */
div.center,
div.topad.center,
div.middlead.center,
div.bottomad.center,
div.ad-plea {
	display: none !important;
}

/* Display board banner? */
.boardBanner {
	display: none !important;
}

/* Relative to posts. */
inline .post.reply,
.post.reply {
	font-family: 'Source', Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
	background: #0d0d13 !important;
	color: #839496 !important;
	width: 95% !important;
	border: #353540 !important;
	border-width: 3px !important;
	padding: 5px !important;
	border-radius: 2px !important;
	box-shadow: #09090d 0 0 2px !important;
	margin-right: 20px !important;
}

/* Relative to the thread */
.thread {
	margin-top: -10px !important;
	margin-right: 30px !important;
	margin-left: 15px !important;
}
div.postContainer.opContainer {
	display: inline-block !important;
	width: 100% !important;
	margin: auto !important;
}
.inline {
	padding-left: 15px !important;
	padding-right: 15px !important;
	border: 0 !important;
}

/* Post subjects. */
span.subject {
	color: #596196 !important;
}

/* Tripcodes. */
span.postertrip {
	color: #6673bf !important;
}

/* Post numbers. */
span.postNum a {
	color: #a5a5a5 !important;
}

/* Poster's name. */
span.name {
	color: #353540 !important;
	font-weight: normal !important;
}

/* Date and time of the posts. */
span.dateTime {
	color: #545466 !important;
}

/* Quote links. */
a.quotelink {
	color: #909bda !important;
}

/* Link to posts quoting the current post. */
a.backlink {
	color: #3f3f3f !important;
}

/* Greentext. */
span.quote {
	color: #7b8c58 !important;
}

/* Post menu button. */
.post .menu-button {
	float: right;
	position: relative;
	left: 0px;
}

/* Hide "hide reply" buttons. */
.postInfo > input,
a.hide-post-button {
	display: none !important;
}

/* Relative to post info, i.e. Post name, tripcode, post date, etc. */
.postInfo a,
div.postInfo {
	color: #6f6f6f !important;
	font-size: 12px !important;
}

/* Relative to file info, i.e. filename, file size, resolution, etc. */
div.fileText > span.file-info,
div.fileText > span.file-info > a {
	font-family: 'Nimbus Sans L', Helvetica, Arial, sans-serif !important;
	font-size: 13px !important;
	text-decoration: none !important;
}

/* Fix post previews. */
#qp {
	border: 0 !important;
	box-shadow: none !important;
}


/* Relative to the quick reply. */
#qr {
	background: #05050d !important;
	color: #eee !important;
	border: none !important;
	border-radius: 2px !important;
	box-shadow: none !important;
	transition: all 0.2s ease 0s;
}
#qr form {
	bottom: 12px !important;
	right: 0% !important;
	width: 300px !important;
	padding: 4px !important;
	margin-top: 23px !important;
	padding-top: 10px !important;
	padding-bottom: 3px !important;
	background: #05050d !important;
	border-color: #05050d !important;
	border-radius: 4px !important;
}
#dump-button {
	background: #3d3d3d !important;
	border-color: #3d3d3d !important;
	color: #eee !important;
}

/* Color of the fields. */
#qr .field {
	background: #fefefe !important;
	border-color: #2f2f2f !important;
	color: #2f2f2f !important;
}

/* Movable QR? */
#qr span.move {
	display: none !important;
}

/* Remove menu */
#qr select {
	display: none !important;
}

/* Make the name field become invisible when there's something in it... */
#qr input.field:nth-child(2) {
	background: #fefefe !important;
	color: #fefefe !important;
}

/* ... And then make it visible again when you hover over it. */
#qr input.field:nth-child(2):hover {
	background: #fefefe !important;
	color: #2f2f2f !important;
}

/* Remove bar above the fields. */
#qr > div {
	position: fixed !important;
}

/* Relative to 4chan X's menu */
#fourchanx-settings.dialog,
fieldset legend,
a.tab-main.tab-selected {
	font-family: sans-serif !important;
	font-size: 11px !important;
	border-color: #353540 !important;
	background: #09090d !important;
	color: #dedede !important;
}

/* Code blocks. */
.prettyprint.prettyprinted, .prettyprint {
	background: #09090d !important;
	color: #839496 !important;
	border-left: 0 !important;
	font-family: PragmataPro, onospace !important;
	font-size: 14px !important;
}
.prettyprint .com { color: #8c5760 !important; }					   /*  red	 */
.prettyprint .str, .prettyprint .atv { color: #7b8c58 !important; }	/*  green   */ 
.prettyprint .pun { color: #8c6e43 !important; }					   /*  yellow  */
.prettyprint .kwd, .prettyprint .tag { color: #58698c !important; }	/*  blue	*/
.prettyprint .typ, .prettyprint .atn { color: #7b5e7d !important; }	/*  purple  */
.prettyprint .lit { color: #66808c !important; }					   /*  cyan	*/
.prettyprint .pln { color: #8c8b8b !important; }					   /*  grey	*/
	
/*** Animations ***/

/* Change backlinks to >> and animate them. */
a.backlink {
	text-decoration: none !important;
	font-size: 0 !important;;
}
.backlink:after {
	font-size: 13px !important;
	padding: 1px !important;
	content: '>>' !important;
	text-decoration: none !important;
}
.backlink:not(:first-child) {
	margin-left: -1.0rem;
	transition: all .1s linear .2s;
	opacity: 0;
}
/* Post menu animations. */
.postContainer:hover .backlink {
	margin-left: 0rem;
	transition-delay: .1s;
	opacity: 100;
}
.post.reply a.menu-button {
	opacity: 0;
	transition: all .2s;
}
.post.reply:hover .menu-button {
	opacity: 100;
	transition: all .1s;
}
/* QR animations. */
#qr.dialog.has-captcha.autohide,
#qr.dialog.autohide {
	top: -300px !important;
	height: 21px !important;
	transition: all 0.7s ease 0s;
}
